{% extends "layout.html" %}
{% block content %}
  	<legend  >INFORMATION J S TRANSPORT</legend>
    <p align="left">Jaswant Transports Private Limited is a Private incorporated on 13 June 2017. It is classified as Non-govt company and is registered at Registrar of Companies, Mumbai. Its authorized share capital is Rs. 2,500,000 and its paid up capital is Rs. 100,000. It is inolved in Transport via pipelines [Includes transport of gases, liquids, slurry and other commodities via pipelines. Included are the incidental activities like operation of pump stations and maintenance of the pipeline.</br></p>

	<p>Jaswant Transports Private Limited's Annual General Meeting (AGM) was last held on 30 September 2019 and as per records from Ministry of Corporate Affairs (MCA), its balance sheet was last filed on 31 March 2019.
	</p><br><br><br>
 

 	
    <legend class="border-bottom mb-4">COMPANY DETAILS</legend>
    <ul>COMPANY NAME            -   &nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  J S TRANSPORT</ul>
    <ul>CLASS OF COMPANY  &nbsp;&nbsp;      -    &nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;   NON GOVT COMPANY</ul>
    <ul>DATE OF INCORPORATION &nbsp;&nbsp;  -    &nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;   PRIVATE  </ul>
    <ul>NUMBER OF MEMBERS     &nbsp;&nbsp;  -    &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;    </ul>



{% endblock content %}